body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

header .logo {
  max-width: 200px;
}

header form {
  flex-basis: 50%;
}

header form input {
  padding: 10px;
}

header form input[type="text"] {
  width: 75%;
}

header form input[type="submit"] {
  width: 20%;
}

.container {
  margin-top: 150px;
}

main {
  width: 65%;
  float: left;
  padding-left: 35px;
}
.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.main-video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.info-bar {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.info-bar__right {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.about-video {
  display: flex;
  align-items: flex-start;
}

.about-video__info {
  padding-left: 20px;
}

.about-video__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-video__author-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.about-video__date {
  font-size: 0.8rem;
}

aside {
  width: 30%;
  float: left;
  margin-left: 25px;
}
